# Ignore OS Related/Generic
Thumbs.db
Desktop.ini
._*
Icon?
.DS_Store
*.bak
*.tmproj
*.tmproject

# Ignore Bonfire Application Specifics
bonfire/application/logs/*
!bonfire/application/logs/index.html
bonfire/application/cache/*
!bonfire/application/cache/index.html
assets/cache/*
!assets/cache/index.html

# Helping GUIs omiting subtree repos
bonfire/modules/**/.git/*
bonfire/modules/**/.hg/*
